*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

scala-runtime/
sbt-runtime

# Intellij specific
# .idea and .idea_module can be auto generated using 'sbt gen-idea'
.idea/
.idea_modules/
out/
